/* Setting container for the slider */
.banner {
    width: 100%;
    height: 30rem;
    text-align: center;
    position: relative;
    z-index: 2;
}

.slider {
    position: absolute;
    width: 200px;
    height: 250px;
    z-index: 10;
    top: 10%;
    left: calc(50% - 100px);
    /* For getting the slider to center of the page  */
    /* Below css makes slider have 3D view */
    transform-style: preserve-3d;
    animation: autorotation 40s linear infinite;
}

.slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(500px);
    /*Spreads the images over x and z axis. Here --position variable getting the value dynamically from slider item  */
}

.slider .item img {
    /* width: 100%; */
    height: 10rem;
    object-fit: cover;
}

/* Below css added image at the y-axis where images rotates */
.demon-slayer {
    background-image: url("../assets/images/middleImg.png");
    width: 100%;
    height: 20rem;
    position: absolute;
    top: 120px;
    z-index: 1;
    left: 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

/* Used keyframes for rotating the images on y-axis */
@keyframes autorotation {
    from {
        transform: perspective(1000px) rotateX(-13deg) rotateY(0deg);
    }

    to {
        transform: perspective(1000px) rotateX(-13deg) rotateY(360deg);
    }
}